h3 {
  color: Gray;
}
.titleSearch {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 24px;
}

.title {
  width: 100%;
}

.title h2 {
  margin-bottom: 0;
}

.title h3 {
  margin-top: 0;
}

.search {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
